@media only screen and (max-width:700px){
    main {
        width: 100% !important;
        height: auto !important;
        grid-template-columns: 1fr !important;
        grid-template-rows: 200px 300px 400px 200px !important;
    }

    header {
        grid-column: 1/2 !important;
        grid-row: 1/2 !important;
    }

    .type_coffee {
        grid-column: 1/2 !important;
        grid-row: 2/3 !important;
    }

    .head_coffee {
        grid-column: 1/2 !important;
        grid-row: 3/4 !important;
    }

    footer {
        grid-column: 1/2 !important;
        grid-row: 4/5 !important;
    }

}